# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/